BasedOnStyle: LLVM
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
